.uploader-container {
    max-width: 600px;
    margin: 50px auto;
    font-family: Arial, sans-serif;

    display: flex;
    flex-direction: column;
    gap: 8px
}

.drop-zone {
    height: 200px;
    border: 2px dashed var(--overlay-0);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
    background-color: var(--mantle);
}

.drop-zone:hover,
.drop-zone.dragging {
    border-color: var(--subtext-0);
    background-color: var(--crust);
}


.file-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.file-entry {
    display: flex;
    gap: 16px;
    padding: 16px;
    background-color: var(--mantle);
    border-radius: 8px;
}

.file-preview {
    flex-shrink: 0;
    width: 120px;
    height: 120px;
    border-radius: 4px;
    overflow: hidden;
    background-color: var(--crust);
}

.file-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.file-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.file-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.original-filename {
    font-size: 14px;
    color: var(--subtext-0);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.remove-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    flex-shrink: 0;
}

.remove-btn:hover {
    background-color: #d32f2f;
}

.upload-btn {
    width: 100%;
    margin-top: 15px;
    background-color: var(--mauve);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s;
}

.upload-btn:hover:not(:disabled) {
    transition: all 0.3s;
    background-color: var(--lavender);
}

.upload-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.uploadInput {
    padding: 10px;
    background-color: var(--mantle);
    border: none;
    margin: 5px 0;
    border-radius: 4px;
    color: var(--text);

}