.timelineContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative;
}
.timelineContainer::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    bottom: 0;
    width: 2px;
    background: var(--text);
    z-index: 0;
}
.timelineMessage {
    font-size: 1.1rem;
    line-height: 1.5;
    color: var(--text);
    text-align: center;
    width: 1000px;
}
@media (max-width: 1060px) {
    .timelineContainer::before {
        content: "";
        position: absolute;
        left: 5%;
        top: 0;
        bottom: 0;
        width: 2px;
        background: var(--text);
        z-index: 0;
    }
    .timelineMessage {
        width: 100%;
    }
}
