:root {
    --width: 500px;
    --height: 520px;
}

/* Central timeline line */

.cardWrapper {
    position: relative;
    height: var(--height);
    width: var(--width);
    display: flex;
    justify-content: center;
    border-radius: 12px;

    align-items: center;
}

.cardWrapperLeft {
    margin-right: calc(var(--width) + 48px);
    /* Push to left side */
}

.cardWrapperRight {
    margin-left: calc(var(--width) + 48px);
    /* Push to right side */
}

.mainImage {
    width: var(--width);
    height: var(--height);
    object-fit: cover;
    display: block;
    image-rendering: auto;
    /* or -webkit-optimize-contrast */
    backface-visibility: hidden;
    transform: translateZ(0);
    border-radius: 12px 12px 24px 24px;
}

.cardContent {
    z-index: 2;
    position: absolute;
    bottom: 0;

    display: flex;
    gap: 8px;
    background-color: var(--mantle);
    width: calc(var(--width) - 48px);
    max-height: calc(1000px - 48px);
    justify-content: center;
    flex-direction: column;
    border-radius: 0 0 12px 12px;
    padding: 12px 24px;
}

.cardHeader {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.cardDescription {
    margin: 0;
    margin-top: -2px;
    font-size: 1rem;
    color: var(--subtext-0);
}

.cardHeader h3 {
    /*font-size: 18px;*/
    font-weight: bold;
    color: var(--subtext-0);

    width: fit-content;
    margin: 0;
    margin-bottom: -2px;
}

.cardHeader p {
    margin: 0;
    font-size: 12px;
    color: var(--subtext-0);
    opacity: 0.8;
}

@media (max-width: 1060px) {
    :root {
        --width: 350px;
        --height: 475px;
    }

    .cardWrapperLeft {
        margin-right: 0;
    }

    .cardWrapperRight {
        margin-left: 0;
    }
}