:root {
    --width: 333px;
}
/* Central timeline line */

.cardWrapper {
    position: relative;
    height: 360px;
    width: var(--width);
    display: flex;
    justify-content: center;
    border-radius: 12px;
}

.cardWrapperLeft {
    margin-right: calc(var(--width) + 48px); /* Push to left side */
}

.cardWrapperRight {
    margin-left: calc(var(--width) + 48px); /* Push to right side */
}

.mainImage {
    width: var(--width);
    z-index: 1;
    object-fit: cover;
    border-radius: 12px 12px 24px 24px;
}

.cardContent {
    z-index: 2;
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 2px;
    background-color: var(--mantle);
    width: calc(var(--width) - 48px);
    height: calc(93px - 48px);
    justify-content: center;
    flex-direction: column;
    border-radius: 0 0 12px 12px;
    padding: 24px;
}

.cardHeader {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.cardDescription {
    margin: 0;
    margin-top: -2px;
    font-size: 14px;
    color: var(--subtext-0);
}

.cardHeader h3 {
    font-size: 18px;
    font-weight: bold;
    color: var(--subtext-0);
    width: fit-content;
    margin: 0;
    margin-bottom: -2px;
}

.cardHeader p {
    margin: 0;
    font-size: 10px;
    color: var(--subtext-0);
}
@media (max-width: 1024px) {
    .cardWrapperLeft {
        margin-right: 0;
    }

    .cardWrapperRight {
        margin-left: 0;
    }
}
