.container {
    display: flex;
    flex-direction: column;
    width: fit-content;

    gap: 1rem;
    /* flex: 3 */
}

.wrapper {
    display: flex;

    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 350px;
    max-height: 350px;
    background-color: var(--mantle);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 8px;
    transform: translate(-50%, -50%);
    flex-direction: column;
    border: 1px solid var(--flamingo);
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.container input {
    width: 250px;
    height: 40px;
    background-color: var(--base);
    border: none;
    border-radius: 8px;
    color: var(--text);

}

.container button {
    height: 40px;
    width: 50%;
    align-self: center;
    background-color: var(--flamingo);
    color: var(--crust);

    border: none;
    border-radius: 8px
}

.wrapper h2 {
    color: var(--flamingo);
    font-size: 2rem;
    font-weight: bold;

}